body {
  font-size: 1.04em;
  background-color:rgba(178, 138, 120, .1);
  font-family: "Bona Nova";
  }

/*I chose a more subdued background color, and lowered the opacity.
I am not the biggest fan of color, so I decided to take the light
pink/dusty rose color from my logo and use that as my background.
I wanted to keep that unity throughout my page. It doesn't totally
look like I have a background color, you compare it to the white 
backgrounds I have (in my aside, font text in table headings, and
the background of my soap label design), you can see the difference.*/

/*I made sure that body font is no smaller than 12px (.75em) to follow 
the WCAG guidelines.*/

h1 {
  text-align: center;
  font-family: "Bodoni Moda";
  font-size: 3em;
  font-weight: bolder;
  color: black;
  margin-bottom: 0.3em;
  }

  /*I used the google font, "Bodoni Moda", because it is
  still eye-catching but also goes along with my font in my 
  "Opie Soaps" logo (your basic Bodoni 72). (I also made sure 
  to make these headings the dark maroon color to make them 
  standout a little more.*/

h2 {
  text-align: left;
  font-family: "Bodoni Moda";
  font-size: 2.1em;
  font-weight: bolder;
  color:#331313;
  margin-bottom: .3em;
  letter-spacing: 1.1px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  }


h3 {
  font-variant: small-caps;
  font-size: 1.4em;
  font-family: "Libre Bodoni";
  font-weight: bolder;
  border-color: #331313;
  background-color: white;
  border: 1.5px solid;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
  padding: 5px; 
  letter-spacing: 0.6px;
  }

h4 {
  font-size: 1.05em;
  }

/* The heading 5 is for the second aside on my page 
(my list of favourite movies). I chose oblique instead
of italicized font because I like the style better 
in this case.*/

h5 {
  font-size: 1.2em;
  font-style: oblique;
  margin-bottom: 0px;
  }

p {
  font-size: 1.2em;
  line-height: 1.2em;
  }


/*The following is referring to the Portfolio Identity logo
at the top of the page between my name and the navigation.*/

.brandidentity{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  }

/*Wanted to experiment wiht line height. I think this
is a perfect amount for the paragraph text: not too  
much, which makes it look too spaced out, but not too little,
either, making it look too scrunched and compact. */

/*The following section is for the aside (the entire aside - the
box and the contents within) for the "Opie Soaps" logo in the 
"About Me" section.*/

.logo {
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: #331313;
  border-radius: 3px;
  float: left;
  height: 330px;
  width: 330px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-left: 1px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 1em;
  font-style: oblique;
  text-align: center;
  position:relative;
  top: -20px;
  }

/*This section is only for the logo itself within the aside, to
position it to be more centered within the box/border.*/

.oslogo{
  margin-left: -11px;
  margin-top: -8px;
  }

.NEDA{
  font-size: 1em;
  font-style: oblique;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: #331313;
  border-radius: 3px;
  height: fit-content;
  max-width: 650px;
  padding: 10px;
  display: block;
  clear: both;
  margin-bottom: 40px;
  }
  
/*Using this property "clear" so that the "My Hobbies & Dislikes" 
section doesn't wrap about my designs.*/
.myhobbies {
  clear: left;
  }

caption{
  caption-side: bottom;
  text-align: left;
  color: black;
  font-style: italic;
}

table {
  table-layout: fixed;
  width: 580px;
  border: 2px solid black;
  }
  
td {
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  overflow-wrap: break-word;
  font-size: 1.2em;
  }

th {
  background-color: rgba(51, 19, 19, 1);
  color: white;
  border: 3px solid black;
  text-align: left;
  font-variant: small-caps;
  font-family: "Libre Bodoni";
  font-weight: 900;
  font-size: 1.4em;
  letter-spacing: .6px;
  }

/* I chose this particular background color for the table 
header (as well as the "even" classes to correspond with 
the colors in my Opie Soaps logo. I also noticed that without 
letter-spacing, the heading looked very crowded.*/

/*This is so that the two design images (in "My Designs" section)
can fit side by side and without running into the "Hobbies & Dislikes" 
section.*/

.column {
  float: left;
  width: 300px;
  padding: 20px;
  white-space: nowrap;
  padding-left: 10px;
  }

/*This is for the tables so that the even and odd rows have
separate background colors.*/

.even {
  background-color: rgba(51, 19, 19, 0.2);
  }
.odd {
  background-color: white;
  }

/*This is the end of this section.*/

/*This is for the Short Term and Long Term goals lists. I wanted to
make the even items one color, and the odd items another color, WITHOUT
the use of an "even" class in HTML.*/

li:nth-child(even) {
  color: #4a1401;
  font-size: 1.2em;
  line-height: 1.2em;
  }

li:nth-child(odd) {
  color: #000000;
  font-size: 1.2em;
  line-height: 1.2em;
}

/* Sidenote: I made the even items in all unordered lists this  
color (#4a1401) because it stands out a little better than the 
color I actually wanted to use (dark maroon: #331313) because it 
is within all of my designs/logos, and the background color in my 
table headings and my navigation bar. However, it was hard to tell 
the difference between that dark maroon and the black font of the 
odd items, so I went this route instead. I may go back and change 
it later, depending on how badly I want that maroon color.*/

/*This section is for the "Polaroid Picture" of Opie.*/

.card { 
  width: 240px;
  height: 280px; 
  background-color: white; 
  margin-right: 260px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 16px solid;
  border-color: white; 
  box-shadow: 5px 5px 5px;
  box-shadow: rgba(178, 138, 120, 0.1);
  float: bottom;
  } 

.card-txt { 
  text-align: center; 
  padding: .05px; 
  } 

/*This is all for the HORIZONTAL nav bar.*/

#navigation{
  background-color: #331313;
  color: #ffffff; 
  text-align: center;
  padding: 9px; 
}
#navigation ul {
  list-style: none;
}

#navigation li {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#navigation a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Bodoni Moda";
  font-size: 1em;
  text-transform: uppercase;
}

#navigation a:hover {
  border-left: 2px solid #dfd2c2;
  border-right: 2px solid #dfd2c2;
  padding: 20px;
  border-bottom: 2.5px #331313;
  border-top: 2.5px #331313;
  color: #dfd2c2;
}

/*This section is for the VERTICAL navigation links at 
the top of the page, under the HORIZONTAL nav bar.*/

#navbar2 {
  margin:0 auto;
  list-style:none;
  text-align: center;
  }
  
#navbar2 a {
  color: #ffffff;
  display:block;
  text-align:center;
  text-transform:uppercase;
  text-decoration:none; 
  font-family: "Bodoni Moda";
  font-size: .8em;
  font-weight: 1000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 43px;
  margin-left: 1px;
  border-radius: 3px;
  }

#navbar2 a:hover{
  border-left: 1.5px solid #dfd2c2;
  border-right: 1.5px solid #dfd2c2;
  padding: 12px;
  color: #dfd2c2;
  } 

.education, .hobbies, .goals{
  background-color: #331313;
  border: 1.5px solid;
  float: none;
  align-items: center;
  }


/*This is the end of that navigation section as a whole.
On the rubric for this assignment, it was mentioned to experiment
with both vertical and horizontal navigation links. I wanted to 
try both at the top of the page. It may feel a little crowded, but
overall I like it. It looks pretty cool.*/
  
footer{
  white-space: nowrap; 
  }

/* I dedcided to go with more muted colors, but still all colors
from my design and logo color palettes.*/

/*This is the green from my designs (specifically the soap label art),
with an opacity of 0.2*/
@media screen and (min-width: 0px) and (max-width: 400px) {
    body { background-color: rgba(108, 130, 118, 0.2); }
}

/*This is the deep maroon from my color scheme, with an opacity set
to 0.3.*/
@media screen and (min-width: 401px) and (max-width: 599px) {
    body { background-color: rgba(51, 19, 19, .3); }
}

/*This the dusty rose color in my designs and my logo; this is the main
color I have been using while building this website, and what I see most,
as I spend most time working on the desktop (or wider screen) version.*/
@media screen and (min-width: 600px) {
    body { background-color: rgba(178, 138, 120, .1)e; }
}
