h1 {
    text-align: left;
    font-family: "Bodoni 72";
    font-size: 3em;
    color: black;
    margin-bottom: .3em;
  }
  h2 {
    text-align: left;
    font-family: "Bodoni 72";
    font-size: 2em;
    color:black;
    margin-bottom: .3em;
    letter-spacing: 1.5px;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
  h3 {
    font-variant: small-caps;
    font-size: 1.3em;
    color: black;
    border: .5px dashed;
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    padding: 5px; 
  }

body {
font-size: 1em;
}

p {
  font-size: 1em;
}
  ol {
    font-family: "Bodoni 72";
    font-size: 1.5em;
    font-variant: small-caps;
  }
  th {
    font-variant: small-caps;
    font-size: 1.3em;
  }
  
  table {
    table-layout: fixed;
    width: 500px;
    border: 2px solid black;
  }
  
  td {
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  th {
    background-color: black;
    color: white;
    border: 3px solid black;
    text-align: left;
  }

li a:hover{
  color:#c2b3ff;
}